@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --cyan: hsl(172, 67%, 45%);
  --dark-cyan: hsl(183, 100%, 15%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish: hsl(185, 41%, 84%);
  --very-light-grayish: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--light-grayish);
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  min-height: 100vh;
  overflow-x: hidden;
}
header,
footer {
  text-align: center;
  margin: 40px;
  color: var(--dark-cyan);
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: auto;
}
.section {
  font-size: smaller;
  width: 50%;
  padding: 10px;
  min-height: 340px;
  width: 410px;
}
.selector {
  color: hsl(189, 5%, 30%);
  max-width: 620px;
  margin-left: 20px;
  margin-right: 20px;
}
.total {
  background-color: var(--dark-cyan);
  border-radius: 20px;
  position: relative;
  margin: 20px;
}
.sub-section {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  position: relative;
}

.total .sub-section {
  margin: 50px 40px 0 40px;
}
h1 {
  font-size: 18px;
}
.result {
  text-align: right;
  font-size: 40px;
  color: var(--cyan);
}
.amount-section {
  float: left;
  color: var(--white);
  font-size: larger;
}
.amount-section p {
  font-size: smaller;
  color: var(--grayish-cyan);
}
.tip-btn {
  display: inline-block;
  border: none;
  border-radius: 5px;
  margin: 4px 2px;
  font-size: 20px;
  width: 120px;
  height: 50px;
  color: var(--white);
  background-color: var(--dark-cyan);
  cursor: pointer;
}
.tip-btn:focus {
  background-color: var(--cyan);
  color: var(--dark-cyan);
  font-weight: 700;
}
#custom {
  border: none;
  border-radius: 5px;
  padding: 12px;
  margin: 4px 2px;
  width: 120px;
  height: 50px;
  cursor: pointer;
  text-align: right;
}
#custom:focus {
  border: solid 3px var(--cyan);
}
#custom::placeholder {
  font-size: 20px;
  color: hsl(186, 14%, 43%);
}
.input-section > .input {
  background-color: var(--white);
  text-align: right;
  border: none;
  width: 400px;
}
.input-section > img {
  position: absolute;
  margin-left: 20px;
  margin-top: 10px;
}
input {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  color: var(--dark-cyan);
  background-color: hsl(189, 41%, 97%);
  font-size: 24px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}
.input::placeholder {
  color: var(--grayish-cyan);
  font-weight: lighter;
}
.input:focus {
  border: solid 3px var(--cyan);
  outline: none;
}
#error {
  color: rgb(230, 65, 65);
  float: right;
}
#error2 {
  color: rgb(230, 65, 65);
  float: right;
}
#reset {
  border: none;
  border-radius: 3px;
  padding: 15px 50px;
  font-weight: bold;
  margin-left: 30%;
  margin-top: 15%;
  cursor: pointer;
  background-color: hsl(181, 100%, 21%);
  color: hsl(183, 100%, 19%);
}
#reset:focus {
  background-color: var(--cyan);
  color: var(--dark-cyan);
}

@media screen and (max-width: 920px) {
  html {
    font-size: 80%;
  }
  .container {
    width: auto;
    display: block;
  }
  h1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  h1 {
    font-size: 15px;
  }
  .total {
    width: 280px;
    margin-left: 18%;
  }
  .sub-section {
    margin-left: 13%;
  }
  .tip-btn {
    width: 90px;
  }
  #custom {
    width: 90px;
  }
  .input-section > .input {
    width: 280px;
  }
  .result {
    font-size: 25px;
  }
}
